env/

# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/


# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
.coveralls.yml

# Django / Python
__pycache__/
.vscode
venv/
db.sqlite3
python_nc/week3/day1_sports_orm/sports_orm/apps/leagues/fixtures/data.json

# .NET Core
*.swp
*.*~
project.lock.json
*.pyc
nupkg/
appsettings.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.ntvs*
*.njsproj
*.sln

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Include when developing application packages.
pubspec.lock
.c9
.devcontainer/*
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
*.swo
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js
*secret.md

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

.notes.md
baseline.json